<!DOCTYPE HTML>
<html lang="en">
    <head>
        <?php echo \Forge\Application::META_DATA; ?>
        <?php echo \Forge\Application::TITLE; ?>
        <?php echo \Forge\Application::BASE_URL; ?>
        <?php echo \Forge\Application::CSS; ?>
        <?php echo \Forge\Application::JS; ?>
    </head>
    <body>
        <?php echo \Forge\Application::loadMain(); ?>
    </body>
</html>