<!DOCTYPE HTML>
<html>
    <head>
        <?php echo \Core\Application::META_DATA; ?>
        <?php echo \Core\Application::TITLE; ?>
        <?php echo \Core\Application::BASE_URL; ?>
        <?php echo \Core\Application::CSS; ?>
        <?php echo \Core\Application::JS; ?>
    </head>
    <body>
        <?php echo \Core\Application::loadMain(); ?>
    </body>
</html>